{% load humanize %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://rmotr.com/static/favicons/apple-icon-60x60.c69b596ccabe.png">
    <title>Coinmarketcap clone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css">
    <style media="screen">
      .container {
        margin-top: 100px;
      }
      table {
        margin-top: 50px;
      }
      td.change-up {
        color: #093;
      }
      td.change-down {
        color: #d14836;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"> <img src="https://rmotr.com/static/favicons/apple-icon-60x60.c69b596ccabe.png" alt="" width="32"> </a>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">
        <h1>Coinmarketcap clone</h1>
        <p class="lead">This is a sample copy of <a href="https://coinmarketcap.com/" target="_blank">https://coinmarketcap.com/</a>, only for educational purposes.</p>
        <form class="" action="" method="get">
            <div class="form-group">
              <input type="text" name="search" class="form-control" placeholder="Search cryptos">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          <table class="table table-striped">
            <thead>
              <tr>
                {% if order_param == 'rank' and order_direction == 'asc' %}
                  <th><a href="?order_param=rank&order_direction=desc"># <span class="oi" data-glyph="sort-descending"></span></a></th>
                {% else %}
                  <th><a href="?order_param=rank&order_direction=asc"># <span class="oi" data-glyph="sort-ascending"></span></a></th>
                {% endif %}

                <th>Name</th>
                <th>Market Cap</th>
                {% if order_param == 'price' and order_direction == 'asc' %}
                  <th><a href="?order_param=price&order_direction=desc">Price <span class="oi" data-glyph="sort-descending"></span></a></th>
                {% else %}
                  <th><a href="?order_param=price&order_direction=asc">Price <span class="oi" data-glyph="sort-ascending"></span></a></th>
                {% endif %}
                <th>Volume (24h)</th>
                <th>Circulating supply</th>
                <th>Change (24h)</th>
              </tr>
            </thead>
            <tbody>
              {% for coin in coins %}
              <tr>
                <td>{{coin.rank}}</td>
                <td>
                  <img src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/128/color/{{coin.symbol|lower}}.png" alt="" width="16">
                  <a href="{% url "cryptocurrencies-detail" coin_id=coin.id %}">{{coin.name}}</a>
                </td>
                <td>${{coin.market_cap_usd|floatformat|intcomma}}</td>
                <td>${{coin.price_usd|intcomma}}</td>
                <td>${{coin.volume_usd_24h|floatformat|intcomma}}</td>
                <td>{{coin.available_supply|floatformat|intcomma}} {{coin.symbol}}</td>
                <td class="{% if coin.percent_change_24h > 0.0 %}change-up{% else %}change-down{% endif%}">{{coin.percent_change_24h}}%</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </main>
  </body>
</html>
