<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coinmarketcap Clone</title>
  </head>
  <body>
    <h1>Coinmarketcap clone</h1>
    <p class="lead">This is a sample copy of <a href="https://coinmarketcap.com/" target="_blank">https://coinmarketcap.com/</a>, only for educational purposes.</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Market Cap</th>
          <th>Price</th>
          <th>Volume (24h)</th>
          <th>Circulating supply</th>
          <th>Change (24h)</th>
        </tr>
      </thead>
      <tbody>
        {% for coin in coins %}
        <tr>
          <td>{{coin.rank}}</td>
          <td>
            <img src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/128/color/{{coin.symbol|lower}}.png" alt="" width="16">
            <a href="{% url "cryptocurrencies-detail" coin_id=coin.id %}">{{coin.name}}</a>
          </td>
          <td>${{coin.market_cap_usd|floatformat}}</td>
          <td>${{coin.price_usd}}</td>
          <td>${{coin.volume_usd_24h|floatformat}}</td>
          <td>{{coin.available_supply|floatformat}} {{coin.symbol}}</td>
          <td class="{% if coin.percent_change_24h > 0.0 %}change-up{% else %}change-down{% endif%}">{{coin.percent_change_24h}}%</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </body>
</html>
